.modal-card-body {
  padding: 20px;
  max-height: 60vh;
  overflow-y: auto;
}

main {
  height: 100vh;
}

// Framework
@import 'bulma';

// Mixins
@import 'easings';

// Components
@import 'components/collection-item';
@import 'components/progress-modal';
@import 'components/radial-progress';
@import 'components/generator-table';

// Global-misc
@import 'misc';
