a.is-danger {
  i {
    color: $danger;

    &:hover {
      color: $black;
    }
  }
}

.modal-card-body {
  padding: 20px;
  max-height: 60vh;
  overflow-y: auto;
}

main {
  height: 100vh;
  background-color: $white;
}
