{{!-- Add --}}
<div class="level">
  <div class="level-left">
    <div class="level-item is-pulled-left">
      <h1 class="title">Collections</h1>
    </div>
    <div class="level-item is-pulled-left">
      <a class="icon new-collection" {{action 'addCollection'}}>
        {{fa-icon "plus"}}
      </a>
    </div>
  </div>
</div>
<hr>

{{!-- Collections --}}
<div class="container">
  <div class="columns is-multiline">
    {{#each model as |collection|}}
      <div class="column is-one-quarter">
        <a class="box collection">
          <a class="is-danger icon is-small">
            {{fa-icon "remove"}}
          </a>
          <h1 class="title">{{collection.name}}</h1>
        </a>
      </div>
    {{/each}}
  </div>
</div>
