<div class="hero is-primary">
  <div class="hero-head">
    <nav class="nav is-primary">
      <div class="nav-left">
        <div class="nav-item is-brand">
          <h1 class="title">
            CSV Generator
          </h1>
        </div>
      </div>
      <div class="nav-right">
        <a href="https://github.com/ConorLinehan/csv-generator" class="nav-item is-brand">
          Github
        </a>
      </div>
    </nav>
  </div>
</div>
<main>
  {{outlet}}
</main>

{{modal-target}}
